body { background: #819650; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 34px; display: flex; }
.block-config-0 { color: #372db1; font-size: 18px; margin-bottom: 5px; }
.block-user-1 { color: #6d901; font-size: 19px; margin-bottom: 5px; }
.block-order-2 { color: #368b5f; font-size: 20px; margin-bottom: 5px; }
.block-database-3 { color: #383d60; font-size: 18px; margin-bottom: 5px; }
.block-search-4 { color: #f0d7d2; font-size: 15px; margin-bottom: 5px; }